<div class="cuerpoEnc">
    <h2>
        Site Itokazu
    </h2>
</div>

@{ ViewBag.Title = "Index"; }

<div class="cuerpoInt">
    Sistema para almacenamiento de afiliados
    <br />
    <br />
    <a href="@Url.Action("Index", "Afiliados")">Ver Listado de Afiliados</a>

</div>


